@{
    ViewData["Title"] = "Editar";
}

@model PresentacionFarmaceutica.Models.PresentationEditMedicament

<div>
    <div class="text-center">
        <h1 class="display-4">Editar</h1>
    </div>

    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="" value="@Model.medicaments.First().Nombre">
        </div>
        <div class="form-group">
            <label for="concentracion">Concentración</label>
            <input type="text" class="form-control" id="concentracion" placeholder="" value="@Model.medicaments.First().Concentracion">
        </div>
        <div class="form-group">
            <label for="forma-farmaceutica">Forma farmaceutica</label>
            <select class="form-control" id="forma-farmaceutica">
                @if (Model.pharmaceuticalForms is not null)
                {
                    @foreach (var item in Model.pharmaceuticalForms)
                    {
                        if (Model.pharmaceuticalForms.First().Id == item.Id)
                        {
                            <option selected value="@item.Id">@item.Id @item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Id @item.Nombre</option>

                        }
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>

