@{
    ViewData["Title"] = "Editar";
}

@model PresentacionFarmaceutica.Models.PresentationEditMedicament

<div>
    <div class="text-center">
        <h1 class="display-4">Editar</h1>
    </div>

    <form id="editForm">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="" value="@Model.medicaments.First().Nombre">
        </div>
        <div class="form-group">
            <label for="concentracion">Concentración</label>
            <input type="text" class="form-control" id="concentracion" placeholder="" value="@Model.medicaments.First().Concentracion">
        </div>
        <div class="form-group">
            <label for="formaFarmaceutica">Forma farmaceutica</label>
            <select class="form-control" id="formaFarmaceutica">
                @if (Model.pharmaceuticalForms is not null)
                {
                    @foreach (var item in Model.pharmaceuticalForms)
                    {
                        if (Model.medicaments.First().IdFormaFamamaceutica == item.Id)
                        {
                            <option selected value="@item.Id">@item.Id @item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Id @item.Nombre</option>

                        }
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" class="form-control" id="precio" placeholder="" value="@Model.medicaments.First().Precio">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" placeholder="" value="@Model.medicaments.First().Stock">
        </div>
        <div class="form-group">
            <label for="presentacion">Presentación</label>
            <input type="text" class="form-control" id="presentacion" placeholder="" value="@Model.medicaments.First().Presentacion">
        </div>
        <div class="form-group">
            <label for="habilitado">Habilitado</label>
            <select class="form-control" id="habilitado">
                @if (@Model.medicaments.First().Habilitado == 0)
                {
                    <option selected value=0>No</option>
                    <option value=1>Si</option>
                }
                else
                {
                    <option selected value=1>Si</option>
                    <option value=0>No</option>
                }
            </select>
        </div>
        <div>
            <a class="btn btn-secondary my-3" href="@Url.Action("Index", "Home")" role="button">Regresar</a>
            <button class="btn btn-primary" onclick="submitEdit(@Model.medicaments.First().Id)">Editar</button>
        </div>
    </form>
</div>



