@using PresentacionFarmaceutica.Controllers;
@{
    ViewData["Title"] = "Inicio";
}


<div>
    <div class="d-flex flex-row-reverse">
        <div class="">
            <a class="btn btn-link" href="@Url.Action("LoginView", "Home")" role="button">Login</a>
        </div>
    </div>
    <div class="text-center">
        <h1 class="display-4">SEPDI</h1>
    </div>

    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="row">
            @if (ViewBag.isLogged)
            {
                <div class="col-7">
                    <a class="btn btn-primary my-3" href="@Url.Action("CreateView", "Home")" role="button">Agregar nuevo</a>
                </div>
            }
            <div class="col-5">
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="SearchString" placeholder="Puedes filtrar por nombre, presentación, concentración" aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    <button type="submit" class="btn btn-outline-danger">Limpiar</button>
                </div>
            </div>
        </div>
    <table class="table mb-1">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Concentracion</th>
                <th scope="col">Forma farmaceutíca</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Presentación </th>
                <th scope="col">Habilitado</th>
                @if (ViewBag.isLogged)
                {
                    <th scope="col">Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Nombre</td>
                    <td>@item.Concentracion</td>
                    <td>@item.FormaFamamaceutica</td>
                    <td>@item.Precio</td>
                    <td>@item.Stock</td>
                    <td>@item.Presentacion</td>
                    @if (@item.Habilitado == 1)
                    {
                        <td>Sí</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    @if (ViewBag.isLogged)
                    {
                        <td>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("EditView", "Home",new{id = @item.Id})" role="button">Editar</a>
                            @Html.ActionLink("Eliminar", "DeleteItem", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('¿Estas seguro que deseas eliminar el elemento?');" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
        <div class="col-1">
            <select class="form-select" name="Page" aria-label="Default select example" onchange="this.form.submit()">
                if(ViewBag.numberOfPage > 0)
                {
                @for (int c = 1; c <= ViewBag.numberOfPage; c++)
                {
                    if (ViewBag.currentPage == c)
                    {
                        <option selected value=@c>@c</option>
                    }
                    else
                    {
                        <option value=@c>@c</option>
                    }
                }
                }
            </select>
        </div>
    </form>
</div>






